body {
    background-color: lightgrayss;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra {
    background-color: gray;
    display: flex;
    border-radius: 15px;
}

.logo {
    margin-left: 10px;
}